@import '../../assets/variable';

.check {
  $size: 1.2rem;
  border: 1px solid;
  border-radius: $size;
  height: $size;
  position: relative;
  width: $size;

  &--active {
    background-image: $check-bg;
    border: 0;
  }

  &__img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
