@import './variable';
@import './global';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__toggle-btn {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    outline: none;
  }
}

.bg {
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 2rem 0;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
